*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../img/banner.jpg);
  
}

a {
  /* color: #00B7FF; */
  text-decoration: none;
  color: aliceblue;
  /*  background: rgba(255, 255, 255, 0.76) 200px
*/
font-size: xx-large;
}
img{
  width: 100%;
}
figure{
  width: 20%;
  background: rgb(255, 255, 255);
}
h1{
  text-align: center;
  /* background: rgba(255, 255, 255, 0.479); */
  width: fit-content;
  margin: 0 auto;
  font-size: xxx-large;
  color: aliceblue;
  text-shadow: 0 0 20px black;
}
ul{
  background: rgb(0 0 0 / 69%);
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
  width: fit-content;
  margin: 0 auto;
  border-radius: 11px;
  padding: 9px 23px;
  color: white;
  font-size: x-large;
}
.botonera{
  text-align: center;
  background: none;
}
p{
  /* background: rgba(255, 255, 255, 0.479); */
  text-align: center;
  font-size: x-large;
  width: fit-content;
  margin: 0 auto;
  font-weight: bolder;
  text-shadow: 0 0 10px black;
  color: aqua;
}
.botonAgregar , .botonModificar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonVolver{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.formulario{
  margin: auto;
  width: 300px;
  background: rgba(255, 255, 255, 0.479);
  border-radius: 5px;
  text-align: center;
}
.centrado{
  margin: 40%;
}
.lista__actores{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px 30px;
}